[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torchvision = "*"
ftfy = "*"
regex = "*"
torch = "*"
tqdm = "*"
braceexpand = "*"
jsonlines = "*"
pandas = "*"
wandb = "*"
seaborn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
